orchestration/n8n/workflows/immune.json
{
  "name": "HELIX Immune System",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Schedule: every 15 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [160, 280],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Manual: Run Immune Scan",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [160, 460],
      "parameters": {}
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "HTTP: scan.run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 360],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/reflex/scan",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "targetUrl",
              "value": "http://host.docker.internal:3001"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Split Out: findings",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [660, 360],
      "parameters": {
        "fieldToSplitOut": "findings",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "HTTP: vuln.heal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 360],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/reflex/vuln-heal",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "findingId",
              "value": "={{ $json._id }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    }
  ],
  "connections": {
    "Schedule: every 15 min": {
      "main": [
        [
          {
            "node": "HTTP: scan.run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual: Run Immune Scan": {
      "main": [
        [
          {
            "node": "HTTP: scan.run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: scan.run": {
      "main": [
        [
          {
            "node": "Split Out: findings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out: findings": {
      "main": [
        [
          {
            "node": "HTTP: vuln.heal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "pinData": {},
  "versionId": "a1b2c3d4-0001-0001-0001-000000000099",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "helix-local"
  },
  "id": "helix-immune-001",
  "tags": [
    { "createdAt": "2026-06-13T00:00:00.000Z", "updatedAt": "2026-06-13T00:00:00.000Z", "id": "helix-tag-immune", "name": "helix-immune" }
  ]
}
