orchestration/n8n/workflows/nervous.json
{
  "name": "HELIX Nervous System — Resurrection Reflex",
  "nodes": [
    {
      "id": "trigger-webhook",
      "name": "Webhook: Deploy Signal",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "path": "helix-deploy-signal",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "incident-handle",
      "name": "HTTP: incident.handle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/reflex/incident-handle",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ deployId: $json.body.deployId, signal: $json.body.signal }) }}",
        "options": { "timeout": 120000 }
      },
      "continueOnFail": true
    },
    {
      "id": "check-rollback",
      "name": "IF: Rollback Recommended",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [760, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "leftValue": "={{ $json.incident.rollbackAt }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ]
        }
      }
    },
    {
      "id": "scan-run",
      "name": "HTTP: scan.run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1020, 160],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/reflex/scan",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ targetUrl: 'http://host.docker.internal:3001' }) }}",
        "options": { "timeout": 60000 }
      },
      "continueOnFail": true
    },
    {
      "id": "split-findings",
      "name": "Split Out: findings",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1260, 160],
      "parameters": { "fieldToSplitOut": "findings" }
    },
    {
      "id": "vuln-heal",
      "name": "HTTP: vuln.heal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 160],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/reflex/vuln-heal",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ findingId: $json._id }) }}",
        "options": { "timeout": 120000 }
      },
      "continueOnFail": true
    },
    {
      "id": "incident-resolve",
      "name": "HTTP: incident.resolve",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1740, 160],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/reflex/incident-resolve",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ incidentId: $('HTTP: incident.handle').item.json.incident.incidentId }) }}",
        "options": { "timeout": 120000 }
      },
      "continueOnFail": true
    },
    {
      "id": "respond-ok",
      "name": "Respond: 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1980, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { incidentId: $('HTTP: incident.handle').item.json.incident?.incidentId, causalSteps: $('HTTP: incident.handle').item.json.incident?.causalChain?.length ?? 0, healed: $('HTTP: incident.resolve').item.json?.healed ?? [] } }}"
      }
    }
  ],
  "connections": {
    "Webhook: Deploy Signal": {
      "main": [[{ "node": "HTTP: incident.handle", "type": "main", "index": 0 }]]
    },
    "HTTP: incident.handle": {
      "main": [[{ "node": "IF: Rollback Recommended", "type": "main", "index": 0 }]]
    },
    "IF: Rollback Recommended": {
      "main": [
        [{ "node": "HTTP: scan.run", "type": "main", "index": 0 }],
        [{ "node": "HTTP: incident.resolve", "type": "main", "index": 0 }]
      ]
    },
    "HTTP: scan.run": {
      "main": [[{ "node": "Split Out: findings", "type": "main", "index": 0 }]]
    },
    "Split Out: findings": {
      "main": [[{ "node": "HTTP: vuln.heal", "type": "main", "index": 0 }]]
    },
    "HTTP: vuln.heal": {
      "main": [[{ "node": "HTTP: incident.resolve", "type": "main", "index": 0 }]]
    },
    "HTTP: incident.resolve": {
      "main": [[{ "node": "Respond: 200 OK", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
